<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ site.data.main_info.name }} | {{ page.title }}</title>
  <meta name="description" content="Homepage of Julia Di">
  <meta name="author" content="Julia Di">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/skeleton/normalize.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/libs/external/skeleton/skeleton.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/libs/custom/my_css.css" | prepend: site.baseurl }}>

  <!-- JQuery
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src={{ "/libs/external/jquery-3.1.1.min.js" | prepend: site.baseurl }}></script>

  <!-- Font-Awesome
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/font-awesome-4.7.0/css/font-awesome.min.css" | prepend: site.baseurl }}>

  <!-- Academicons
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/academicons-1.8.6/css/academicons.min.css" | prepend: site.baseurl }}>

  <!-- Skeleton tabs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/skeleton_tabs/skeleton-tabs.css" | prepend: site.baseurl }}>
  <script src={{ "/libs/external/skeleton_tabs/skeleton-tabs.js" | prepend: site.baseurl }}></script>

  <!-- Timeline
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/timeline.css" | prepend: site.baseurl }}>

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!--<link rel="stylesheet" href={{ "/libs/external/github-prettify-theme.css" | prepend: site.baseurl }}>-->
  <script src={{ "/libs/custom/my_js.js" | prepend: site.baseurl }}></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="apple-touch-icon" sizes="180x180" href={{ "assets/favicon/apple-touch-icon.png" | prepend: site.baseurl }}>
  <link rel="icon" type="image/png" sizes="32x32" href={{ "assets/favicon/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href={{ "assets/favicon/favicon-16x16.png" | prepend: site.baseurl }}>
  <link rel="manifest" href="/site.webmanifest">




</head>

  <!-- light Mode Toggle -->
  <div class="light-mode-toggler"> 
    <input type="checkbox" id="toggler" /> 
    <label for="toggler" aria-label="Toggler for light Mode"></label>
    Light Mode
  </div>
<body>



  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">

    <section class="header">
      <div class="row">
        <div class="nine columns main-description">
            <h1>{{ site.data.main_info.name }}</h1>
            <p>{{ site.data.main_info.title }}</p>
            <p>
              <span onclick="window.open('{{ site.data.main_info.instagram-art }}')" style="cursor: pointer">
                <i class="fa fa-paint-brush fa-lg" aria-hidden="true"></i>
              </span>

              <span onclick="window.open('{{ site.data.main_info.twitter }}')" style="cursor: pointer">
                <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
              </span>

              <span onclick="window.open('{{ site.data.main_info.instagram }}')" style="cursor: pointer">
                <i class="fa fa-instagram fa fa-lg" aria-hidden="true"></i>
              </span>
              <span onclick="window.open('{{ site.data.main_info.linkedin }}')" style="cursor: pointer">
                <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i>
              </span>
              
            </p>
            <p>
              <span onclick="window.open('{{ site.data.main_info.email }}')" style="cursor: pointer">
                <i class="fa fa-envelope fa" aria-hidden="true"></i>
              </span>
              <span onclick="window.open('{{ site.data.main_info.github }}')" style="cursor: pointer">
                <i class="fa fa-github" aria-hidden="true"></i>
              </span>

              <span onclick="window.open('{{ site.data.main_info.google_scholar }}')" style="cursor: pointer">
                <i class="ai ai-google-scholar ai-lg" aria-hidden="true"></i>
              </span>

              <span onclick="window.open('{{ site.data.main_info.CV | prepend: site.baseurl }}')" style="cursor: pointer">
                <i class="ai ai-cv-square ai-lg" aria-hidden="true"></i>
              </span>
            </p>
        </div>
        <div class="three columns">
          <a href="{{ site.baseurl }}/"><img class="circular--portrait" src='{{ site.baseurl }}{{ site.data.main_info.profile_pic }}'></a>
        </div>
      </div>
    </section>

    <div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="navbar-rightcontainer">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#bio" | prepend: site.baseurl }}>Bio</a></li>
          <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#news" | prepend: site.baseurl }}>News</a></li>
          <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#publications" | prepend: site.baseurl }}>Publications</a></li>
          <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#projects" | prepend: site.baseurl }}>Projects</a></li>
          <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#milestones" | prepend: site.baseurl }}>Milestones</a></li>
          <li class="navbar-item"><a class="navbar-link" href={{ "/blog.html" | prepend: site.baseurl }}>Blog</a></li>
          <li class="navbar-item"><a class="navbar-link" href={{ "/blog.html" | prepend: site.baseurl }}>  </a></li>
          <li class="navbar-item"><a class="navbar-img" href="{{ site.baseurl }}/"><img src={{ "assets/favicon/favicon-32x32.png" | prepend: site.baseurl }}></a></li>
        </ul>
      </div>
    </nav>

    {{ content}}

    <div class="footer">
      <div class="row">
        <div class="four columns">
          {{ site.data.main_info.name }} <br/>
          {{ site.data.main_info.title }}
        </div>
        <div class="four columns">
          {{ site.data.main_info.position }} <br/>
          Updated: {{ site.data.main_info.date }}
        </div>
        <div class="four columns">
          <span onclick="window.open('{{ site.data.main_info.twitter }}')" style="cursor: pointer">
            <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
          </span> <br/> 
          <span onclick="window.open('{{ site.data.main_info.instagram }}')" style="cursor: pointer">
                <i class="fa fa-instagram" aria-hidden="true"></i> Instagram
              </span> <br/>
          <span onclick="window.open('{{ site.data.main_info.linkedin }}')" style="cursor: pointer">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn
          </span> <br/>
          <span onclick="window.open('{{ site.data.main_info.email }}')" style="cursor: pointer">
                <i class="fa fa-envelope" aria-hidden="true"></i> Email
          </span> <br/>
        </div>
      </div>
    </div>

  </div>

  <!-- Google Analytics -->
  {% include google_analytics.html %}

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
